.c-list-more {
  color: @primary-color;
}
.c-list-more:hover {
  color: @primary-color;
}
.c-list-item .title::before {
  background-color: @primary-color;
}
.c-list-item .title:hover {
  color: lighten(@primary-color, 15%);
}
.c-list-item .desc {
  color: @primary-color;
}
